<h1>Our address</h1>
<p>Welcome to our new adress in <%= thetown %></p>
<p>Your contact is <%= contactName[Math.round(Math.random() * (contactName.length -1))] %></p>

<p>A simple count to <%= number %></p>
<p>
    <% for (var i = 1; i <= number; i++) { %>
        <%= i %>...
    <% } %>
</p>